html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}

.object-container {
    flex-shrink: 0;
}


.result-container {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    min-height: 300px;
    background-color: black;
    overflow-y: scroll;
    padding: 0;
    margin-top: 10px;
}

.selection-container {
    width: 100%;
    background-color: #706161;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    height: 30px;
    text-align: center;
}

.selection-container select,
.selection-container div {
    height: 100%;
    display: flex;
    align-items: center;
    <!-- margin-right: 1vw; -->
    justify-content: center;
}

.selection-container button,
.selection-container input,
.selection-container select {
    background-color: #888;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.selection-container button:hover,
.selection-container select:hover {
    background-color: #666;
}

.input-container {
    background-color: #6c647a;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2px 0 2px;
}

.input-container label {
    border: none;
}

.input-container input {
    color: black;
    flex-grow: 1;
    border: 1px solid black;
    margin: 0 10px;
    outline: none;
    border-radius: 2px;
}

.input-container input:focus {
    border-color: gray;
    background-color: gray;
}

.result-text {
    color: white;
    font-family: monospace;
    white-space: pre-wrap;
}
.result-text div {
    margin-bottom: 5px;
}

.tool-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-container button {
    border: none;
    border-radius: 0;
    background-color: #424141;
    color: #7c7c7c;
    cursor: pointer;
}

.tool-container .save-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding: 0;
    text-align: center;
    font-size: 12px;
}
.tool-container button:hover {
    background-color: #3b3042;
}


.tool-container button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

input{
    background-color: #6c647a;
    color: #1C1E21;
}
#live-results {
    height: 300px;
    overflow-y: auto;
}

.tool-block {
    background-color: #424141;
    padding: 0 5px 0 5px;
    margin: 5px 5px 5px 5px;
}

.input-container input[type="text"] {
    width: auto;
    min-width: 40px;
    max-width: 100%;
    box-sizing: border-box;
}