form div {
    margin-bottom: 20px;
}

form div label {
    display: inline-block;
    width: 80px;
}

form div input[type="text"] {
    width: calc(200% - 160px);
    padding: 5px;
    box-sizing: border-box;
}